[submodule "qubes-vmm-xen-windows-pvdrivers"]
	path = qubes-vmm-xen-windows-pvdrivers
	url = https://github.com/omeg/qubes-vmm-xen-windows-pvdrivers
	branch = omeg/win10
[submodule "qubes-core-vchan-xen"]
	path = qubes-core-vchan-xen
	url = https://github.com/omeg/qubes-core-vchan-xen.git
	branch = omeg/win10
[submodule "qubes-core-agent-windows"]
	path = qubes-core-agent-windows
	url = https://github.com/omeg/qubes-core-agent-windows.git
	branch = omeg/win10
[submodule "qubes-core-qubesdb"]
	path = qubes-core-qubesdb
	url = https://github.com/omeg/qubes-core-qubesdb.git
	branch = omeg/win10
[submodule "qubes-gui-agent-windows"]
	path = qubes-gui-agent-windows
	url = https://github.com/omeg/qubes-gui-agent-windows.git
	branch = omeg/win10
[submodule "qubes-gui-common"]
	path = qubes-gui-common
	url = https://github.com/omeg/qubes-gui-common.git
	branch = omeg/win10
[submodule "qubes-windows-utils"]
	path = qubes-windows-utils
	url = https://github.com/omeg/qubes-windows-utils.git
	branch = omeg/win10
