<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?ifdef env.MSIBUILD?>
      <?define MODULE_SUFFIX = $(env.MSIOS)$(env.MSIARCH)$(env.MSIBUILD)?>
    <?else?>
      <?define MODULE_SUFFIX = $(env.MSIOS)$(env.MSIARCH)?>
    <?endif?>
    <?if $(env._BUILDARCH) = x86 ?>
      <?define ARCHDIR = i386 ?>
      <?define PFILESDIR = ProgramFilesFolder ?>
    <?elseif $(env._BUILDARCH) = AMD64 ?>
      <?define ARCHDIR = amd64 ?>
      <?define PFILESDIR = ProgramFiles64Folder ?>
    <?endif ?>

    <Product
        Id='{C5A39AF6-A22B-4DD6-9498-5852B119A2A0}'
        Name='Qubes Windows Tools'
        UpgradeCode='{24EE536D-8A0F-4669-8630-67B185065769}'
        Language='1033'
        Codepage='1252'
        Version='1.0.0'
        Manufacturer='Invisible Things Lab'>
        <Package
            Id='*'
            Description='Qubes Windows Tools'
            Manufacturer='Invisible Things Lab'
            InstallerVersion='200'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'/>
        <Media Id='1' Cabinet='content.cab' EmbedCab='yes'/>
        <UIRef Id="WixUI_Mondo"/>
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Property Id="SYSTEMSTARTOPTIONS">
            <RegistrySearch Id="SystemStartOptions"
                Root="HKLM"
                Key="SYSTEM\CurrentControlSet\Control"
                Name="SystemStartOptions"
                Type="raw" />
        </Property>
                                                                        
        <?ifdef env.CERT_PUBLIC_FILENAME?>
            <?if $(env._BUILDARCH) = AMD64?>
                <Condition Message="Testsigning must be on for x64 when installing on Vista or newer.">
                    <![CDATA[(VersionNT < 600) OR (SYSTEMSTARTOPTIONS >< "TESTSIGNING")]]>
                </Condition>
            <?endif ?>
        <?endif ?>

        <Directory Id='TARGETDIR' Name='SourceDir' DiskId='1'>
          <Directory Id='$(var.PFILESDIR)'>
            <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
              <Directory Id='INSTALLDIR' Name='Qubes OS Windows Tools'>
                <Merge Id='vmmXenWindowsPvdrivers' Language='1033' SourceFile='components/vmm-xen-windows-pvdrivers-$(var.MODULE_SUFFIX).msm'/>
                <Merge Id='coreAgentWindows' Language='1033' SourceFile='components/core-agent-windows-$(var.MODULE_SUFFIX).msm'>
                  <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>
                <Merge Id='guiAgentWindows' Language='1033' SourceFile='components/gui-agent-windows-$(var.MODULE_SUFFIX).msm'>
                  <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>
                <Component Id='QubesRegInstallDir'>
                    <RegistryKey Root='HKLM' Key='Software\Invisible Things Lab\Qubes Tools'>
                        <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
                    </RegistryKey>
                </Component>
                <Component Id='disableUAC'>
                    <RegistryKey Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System'>
                        <RegistryValue Type='integer' Name='EnableLUA' Value='0'/>
                    </RegistryKey>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Feature Id='complete' Level='1' AllowAdvertise='no' Absent='disallow' Display='expand'
            Title="Qubes OS Windows Tools" Description="Qubes OS Windows Tools"
            ConfigurableDirectory="INSTALLDIR">
            <ComponentRef Id='QubesRegInstallDir'/>
            <Feature Id="vmmXenWindowsPvdrivers" Level='1' AllowAdvertise='no' Absent='disallow'
                Title="Xen GPL PV Drivers" Description="Paravirtualization driver for Xen VM.">
                <MergeRef Id='vmmXenWindowsPvdrivers'/>
            </Feature>
            <Feature Id="coreAgentWindows" Level='1' AllowAdvertise='no' Absent='allow'
                Title="Core Windows Agent" Description="Core services of Qubes OS Windows Tools. Contains Qubes RPC Agent and basic services like file copy, clipboard handling, etc.">
                <MergeRef Id='coreAgentWindows'/>
            </Feature>
            <Feature Id="guiAgentWindows" Level='1' AllowAdvertise='no' Absent='allow'
                Title="GUI Windows Agent" Description="Windows Agent for seamless GUI integration.">
                <MergeRef Id='guiAgentWindows'/>
            </Feature>
            <Feature Id="disableUAC" Level="1" AllowAdvertise='no' Absent='allow'
                Title="Disable UAC" Description="Disable User Account Control. Currently it isn't working with GUI integration (UAC confirmation dialog isn't clickable).">
                <ComponentRef Id="disableUAC"/>
            </Feature>
        </Feature>
    </Product>
</Wix>
