<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?ifdef env.MSIBUILD?>
      <?define MODULE_SUFFIX = $(env.MSIOS)$(env.MSIARCH)$(env.MSIBUILD)?>
    <?else?>
      <?define MODULE_SUFFIX = $(env.MSIOS)$(env.MSIARCH)?>
    <?endif?>
    <?if $(env._BUILDARCH) = x86 ?>
      <?define ARCHDIR = i386 ?>
      <?define PFILESDIR = ProgramFilesFolder ?>
    <?elseif $(env._BUILDARCH) = AMD64 ?>
      <?define ARCHDIR = amd64 ?>
      <?define PFILESDIR = ProgramFiles64Folder ?>
    <?endif ?>

    <Product
        Id='*'
        Name='Qubes Windows Tools'
        UpgradeCode='{24EE536D-8A0F-4669-8630-67B185065769}'
        Language='1033'
        Codepage='1252'
        Version='$(env.VERSION)'
        Manufacturer='Invisible Things Lab'>
        <Package
            Id='*'
            Description='Qubes Windows Tools'
            Manufacturer='Invisible Things Lab'
            InstallerVersion='200'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'/>
        <Media Id='1' Cabinet='content.cab' EmbedCab='yes'/>
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>
        <!-- xen gpl pv drivers R2-beta2 -->
        <Upgrade Id='{4EDE5DEC-3208-4a1e-8E52-DAC44F7D7062}'>
            <UpgradeVersion Maximum="0.11.0.20004" IncludeMaximum="yes" Property="OLDDRIVERSFOUND"/>
        </Upgrade>
        <!-- core-agent-windows R2-beta2 -->
        <Upgrade Id='{0853bd66-91d5-449c-8450-64af366e42a5}'>
            <UpgradeVersion Maximum="1.0.1" IncludeMaximum="yes" Property="OLDAGENTFOUND"/>
        </Upgrade>
        <UIRef Id="WixUI_Mondo"/>
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Property Id="SYSTEMSTARTOPTIONS">
            <RegistrySearch Id="SystemStartOptions"
                Root="HKLM"
                Key="SYSTEM\CurrentControlSet\Control"
                Name="SystemStartOptions"
                Type="raw" />
        </Property>

        <?ifdef env.CERT_PUBLIC_FILENAME?>
            <?if $(env._BUILDARCH) = AMD64?>
                <Condition Message="Testsigning must be on for x64 when installing on Vista or newer.">
                    <![CDATA[(VersionNT < 600) OR (SYSTEMSTARTOPTIONS >< "TESTSIGNING")]]>
                </Condition>
            <?endif ?>
        <?endif ?>

        <Directory Id='TARGETDIR' Name='SourceDir' DiskId='1'>
          <Directory Id='$(var.PFILESDIR)'>
            <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
              <Directory Id='INSTALLDIR' Name='Qubes OS Windows Tools'>
                <Directory Id='LogDir' Name='log'>
                  <Component Id='CreateLogDir' Guid='{61BC344A-BD13-4886-8DF8-007C40B2F31C}'>
                    <CreateFolder/>
                  </Component>
                </Directory>
                <Component Id='SetEnvPath' Guid='{B7482794-5D34-4996-93EF-EF2705399513}'>
                  <Environment Id='QubesToolsEnv' Action='set' Name='QUBES_TOOLS' Part='all' Permanent='no' System='yes' Value='[INSTALLDIR]' />
                </Component>
                <Merge Id='vmmXenWindowsPvdrivers' Language='1033' SourceFile='components/vmm-xen-windows-pvdrivers-$(var.MODULE_SUFFIX).msm'/>
                <Merge Id='coreAgentWindows' Language='1033' SourceFile='components/core-agent-windows-$(var.MODULE_SUFFIX).msm'>
                  <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>
                <Merge Id='moveProfiles' Language='1033' SourceFile='components/move-profiles-$(var.MODULE_SUFFIX).msm'>
                  <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>
                <Merge Id='guiAgentWindows' Language='1033' SourceFile='components/gui-agent-windows-$(var.MODULE_SUFFIX).msm'>
                  <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>
                <Merge Id='windowsUtils' Language='1033' SourceFile='components/windows-utils-$(var.MODULE_SUFFIX).msm' />
                <Component Id='QubesRegInstallDir'>
                    <RegistryKey Root='HKLM' Key='Software\Invisible Things Lab\Qubes Tools'>
                        <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
                        <RegistryValue Type='string' Name='LogDir' Value='[INSTALLDIR]\log'/>
                        <RegistryValue Type='integer' Name='LogLevel' Value='2'/>
                    </RegistryKey>
                </Component>
                <Component Id='disableUAC'>
                    <RegistryKey Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System'>
                        <RegistryValue Type='integer' Name='EnableLUA' Value='0'/>
                    </RegistryKey>
                </Component>
                <!-- Doesn't seem to make a difference...
                <Component Id='thinFrames'>
                    <RegistryKey Root='HKCU' Key='Control Panel\Desktop\WindowMetrics'>
                        <RegistryValue Type='string' Name='BorderWidth' Value='0'/>
                        <RegistryValue Type='string' Name='PaddedBorderWidth' Value='0'/>
                    </RegistryKey>
                </Component>
                -->
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Feature Id='complete' Level='1' AllowAdvertise='no' Absent='disallow' Display='expand'
            Title="Qubes OS Windows Tools" Description="Qubes OS Windows Tools"
            ConfigurableDirectory="INSTALLDIR">
            <ComponentRef Id='QubesRegInstallDir'/>
            <ComponentRef Id='CreateLogDir'/>
            <ComponentRef Id='SetEnvPath'/>
            <MergeRef Id='windowsUtils'/>
            <Feature Id="vmmXenWindowsPvdrivers" Level='1' AllowAdvertise='no' Absent='disallow'
                Title="Xen GPL PV Drivers" Description="Paravirtualization driver for Xen VM.">
                <MergeRef Id='vmmXenWindowsPvdrivers'/>
            </Feature>
            <Feature Id="coreAgentWindows" Level='1' AllowAdvertise='no' Absent='allow'
                Title="Core Windows Agent" Description="Core services of Qubes OS Windows Tools. Contains Qubes RPC Agent and basic services like file copy, clipboard handling, etc.">
                <MergeRef Id='coreAgentWindows'/>
            </Feature>
            <Feature Id="moveProfiles" Level='1' AllowAdvertise='no' Absent='allow'
                Title="Move user profiles" Description="Moves user profiles directory (c:\users) to a separate disk (private.img).">
                <MergeRef Id='moveProfiles'/>
            </Feature>
            <Feature Id="guiAgentWindows" Level='1' AllowAdvertise='no' Absent='allow'
                Title="GUI Windows Agent" Description="Windows Agent for seamless GUI integration.">
                <MergeRef Id='guiAgentWindows'/>
            </Feature>
            <Feature Id="disableUAC" Level="1" AllowAdvertise='no' Absent='allow'
                Title="Disable UAC" Description="Disable User Account Control. Currently it isn't working with GUI integration (UAC confirmation dialog isn't clickable).">
                <ComponentRef Id="disableUAC"/>
            </Feature>
            <!--
            <Feature Id="thinFrames" Level="1" AllowAdvertise='no' Absent='allow'
                Title="Thin window borders" Description="Set default window border width to 0 for better seamless Qubes GUI experience.">
                <ComponentRef Id="thinFrames"/>
            </Feature>
            -->
        </Feature>
    </Product>
</Wix>
