<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension'>

<?ifdef env.MSIBUILD ?>
    <?define MODULE_SUFFIX = $(env.MSIOS)$(env.MSIARCH)$(env.MSIBUILD)?>
<?else?>
    <?define MODULE_SUFFIX = $(env.MSIOS)$(env.MSIARCH)?>
<?endif?>

<?if $(env.DDK_ARCH) = x64 ?>
    <?define PFILESDIR = ProgramFiles64Folder ?>
<?else?>
    <?define PFILESDIR = ProgramFilesFolder ?>
<?endif ?>

<?if $(env.WIN_BUILD_TYPE) = chk ?>
    <?define DEBUG = Debug ?>
<?else?>
    <?define DEBUG = '' ?>
<?endif ?>

<Product
Id='*'
Name='Qubes Windows Tools'
UpgradeCode='{FB972F47-0D68-43EF-9820-92FDEB51DCD5}'
Language='1033'
Codepage='1252'
Version='$(env.VERSION)'
Manufacturer='Invisible Things Lab'
>

<Package
Id='*'
Description='Qubes Windows Tools'
Manufacturer='Invisible Things Lab'
InstallerVersion='405'
Languages='1033'
Compressed='yes'
SummaryCodepage='1252'
/>

<Media Id='1' Cabinet='content.cab' EmbedCab='yes'/>

<MajorUpgrade
AllowSameVersionUpgrades='no'
DowngradeErrorMessage='A later version of [ProductName] is already installed. Setup will now exit.'
/>

<!-- Skip the license dialog: it's displayed by the bundle, so no need to have it here as well. -->
<UI>
  <UIRef Id='WixUI_Mondo'/>
  <Publish Dialog="WelcomeDlg"
        Control="Next"
        Event="NewDialog"
        Value="CustomizeDlg"
        Order="2">1</Publish>
  <Publish Dialog="CustomizeDlg"
        Control="Back"
        Event="NewDialog"
        Value="WelcomeDlg"
        Order="2">1</Publish>
</UI>

<Property Id='SYSTEMSTARTOPTIONS'>
    <RegistrySearch Id='SystemStartOptions'
        Root='HKLM'
        Key='SYSTEM\CurrentControlSet\Control'
        Name='SystemStartOptions'
        Type='raw'
    />
</Property>

<?ifdef env.CERT_PUBLIC_FILENAME?>
    <?if $(env.DDK_ARCH) = x64?>
    <Condition Message='Testsigning must be on for x64 when installing on Vista or newer.'>
        <![CDATA[(VersionNT < 600) OR (SYSTEMSTARTOPTIONS >< "TESTSIGNING")]]>
    </Condition>
    <?endif ?>
<?endif ?>

<Condition Message='[ProductName] is currently only supported on Windows 7 x64.'>
    <![CDATA[Installed OR (VersionNT = 601)]]>
</Condition>

<Directory Id='TARGETDIR' Name='SourceDir' DiskId='1'>
    <Directory Id='$(var.PFILESDIR)'>
        <Directory Id='ITLProgramFilesDir' Name='Invisible Things Lab'>
            <Directory Id='INSTALLDIR' Name='Qubes Tools'>
                <Directory Id='LogDir' Name='log'>
                    <Component Id='CreateLogDir' Guid='{61BC344A-BD13-4886-8DF8-007C40B2F31C}'>
                        <CreateFolder/>
                    </Component>
                </Directory>

                <Component Id='QubesRegistry'>
                    <RegistryKey Root='HKLM' Key='Software\Invisible Things Lab\Qubes Tools'>
                        <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
                        <RegistryValue Type='string' Name='LogDir' Value='[INSTALLDIR]\log'/>
                        <RegistryValue Type='integer' Name='LogLevel' Value='2'/>
                    </RegistryKey>
                    <RegistryKey Root='HKLM' Key='SYSTEM\CurrentControlSet\Control\Session Manager\Debug Print Filter'>
                        <!-- Default debug print filter masks for drivers. Mostly useful to not spam a debugger when testing. 0x3f is all predefined levels. -->
                        <RegistryValue Type='integer' Name='IHVDRIVER' Value='3'/>
                        <RegistryValue Type='integer' Name='IHVVIDEO' Value='3'/>
                    </RegistryKey>
                </Component>

                <Component Id='SetEnvPath' Guid='{B7482794-5D34-4996-93EF-EF2705399513}'>
                    <Environment Id='QubesToolsEnv' Action='set' Name='QUBES_TOOLS' Part='all' Permanent='no' System='yes' Value='[INSTALLDIR]' />
                </Component>

                <Merge Id='XenBus' Language='1033' SourceFile='components/xenbus-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='XenIface' Language='1033' SourceFile='components/xeniface-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='XenNet' Language='1033' SourceFile='components/xennet-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='XenVbd' Language='1033' SourceFile='components/xenvbd-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='XenVif' Language='1033' SourceFile='components/xenvif-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='WindowsUtils' Language='1033' SourceFile='components/windows-utils-$(var.MODULE_SUFFIX).msm' />

                <Merge Id='CoreVchan' Language='1033' SourceFile='components/core-vchan-xen-$(var.MODULE_SUFFIX).msm' />

                <Merge Id='CoreAgent' Language='1033' SourceFile='components/core-agent-windows-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='CoreQubesDb' Language='1033' SourceFile='components/core-qubesdb-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='GuiAgentWindows' Language='1033' SourceFile='components/gui-agent-windows-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Merge Id='MoveProfiles' Language='1033' SourceFile='components/move-profiles-$(var.MODULE_SUFFIX).msm'>
                    <ConfigurationData Name='ProductFolder' Value='INSTALLDIR'/>
                </Merge>

                <Component Id='DisableUac'>
                    <RegistryKey Root='HKLM' Key='Software\Microsoft\Windows\CurrentVersion\Policies\System'>
                        <RegistryValue Type='integer' Name='EnableLUA' Value='0'/>
                    </RegistryKey>
                </Component>

                <?ifdef env.CERT_PUBLIC_FILENAME?>
                <Component Id='Cert' Guid='BBCBDD9E-3170-4FAD-9608-E591E4C2BBBE'>
                  <File Id='xen_pvdrivers_cert' Name='xen_pvdrivers_cert' DiskId='1' Source='$(env.CERT_PUBLIC_FILENAME)' />
                  <iis:Certificate Id='xen_pvdrivers_cert_root' Name='xen_pvdrivers_cert' Request='no' BinaryKey='xen_pvdrivers_cert' StoreLocation='localMachine' StoreName='root' Overwrite='no' />
                  <iis:Certificate Id='xen_pvdrivers_cert_trustedPublisher' Name='xen_pvdrivers_cert' Request='no' BinaryKey='xen_pvdrivers_cert' StoreLocation='localMachine' StoreName='trustedPublisher' Overwrite='no' />
                </Component>
                <?endif ?>

            </Directory>
        </Directory>
    </Directory>
</Directory>

<?ifdef env.CERT_PUBLIC_FILENAME?>
<Binary Id='xen_pvdrivers_cert' SourceFile='$(env.CERT_PUBLIC_FILENAME)' />
<?endif ?>

<Binary Id='Uninstaller' SourceFile='bin\$(env.DDK_ARCH)\uninstaller.exe' />

<CustomAction
Id='UninstallCleanup'
Return='check'
Impersonate='no'
Execute='deferred'
BinaryKey='Uninstaller'
ExeCommand=''
/>

<InstallExecuteSequence>
  <?ifdef env.CERT_PUBLIC_FILENAME?>
  <Custom Action="InstallCertificates" Before='MsiProcessDrivers' />
  <?endif ?>
  <!-- Require reboot after uninstall. -->
  <ScheduleReboot Before="InstallFinalize">REMOVE="ALL"</ScheduleReboot>
  <!-- Perform custom uninstall cleanup, needed for pvdrivers because MSI can't revert system changes done by driver coinstallers (like inserting device stack filters). -->
  <Custom Action="UninstallCleanup" Before="InstallFinalize">REMOVE="ALL"</Custom>
</InstallExecuteSequence>

<Feature
Id='Complete'
AllowAdvertise='no'
Absent='disallow'
Display='expand'
Title='Qubes Windows Tools'
Description='Qubes Windows Tools'
ConfigurableDirectory='INSTALLDIR'
>

    <Feature
    Id='Common'
    AllowAdvertise='no'
    Absent='disallow'
    Title='Shared components'
    Description='Shared libraries for Qubes Windows Tools.'
    >
        <ComponentRef Id='Cert'/>
        <ComponentRef Id='QubesRegistry'/>
        <ComponentRef Id='CreateLogDir'/>
        <ComponentRef Id='SetEnvPath'/>
        <MergeRef Id='WindowsUtils'/>
        <MergeRef Id='CoreVchan'/>
    </Feature>

    <Feature
    Id='XenPvDrivers'
    AllowAdvertise='no'
    Absent='allow'
    Title='Xen PV Drivers'
    Description='Paravirtualization drivers for Xen.'
    >
        <Feature
        Id='XenBase'
        AllowAdvertise='no'
        Absent='disallow'
        Title='Base Xen PV Drivers'
        Description='Xen paravirtual bus and interface drivers.'
        >
            <MergeRef Id='XenBus'/>
            <MergeRef Id='XenIface'/>
        </Feature>

        <!-- 1 is default, 3 is typical, 1000 is full. -->
        <Feature
        Id='XenDisk'
        AllowAdvertise='no'
        Absent='allow'
        Title='Xen PV Disk Drivers'
        Description='Xen paravirtual disk drivers.'
        Level='1001'
        >
            <MergeRef Id='XenVbd'/>
        </Feature>

        <Feature
        Id='XenNetwork'
        AllowAdvertise='no'
        Absent='allow'
        Title='Xen PV Network Drivers'
        Description='Xen paravirtual network class and device drivers.'
        >
            <MergeRef Id='XenVif'/>
            <MergeRef Id='XenNet'/>
        </Feature>
    </Feature>

    <Feature
    Id='CoreAgent'
    AllowAdvertise='no'
    Absent='allow'
    Title='Qubes Core Agent'
    Description='Core services of Qubes Windows Tools. Contains Qubes RPC Agent and basic services like file copy, clipboard handling, etc.'
    >
        <MergeRef Id='CoreQubesDb'/>
        <MergeRef Id='CoreAgent'/>
    </Feature>

    <Feature
    Id='MoveProfiles'
    AllowAdvertise='no'
    Absent='allow'
    Title='Move user profiles'
    Description='Moves user profiles directory (c:\Users) to the HVM&amp;s private disk (private.img).'>
        <MergeRef Id='MoveProfiles'/>
    </Feature>

    <Feature
    Id='GuiAgentWindows'
    AllowAdvertise='no'
    Absent='allow'
    Title='Qubes GUI Agent'
    Description='Windows Agent for seamless GUI integration.'
    >
        <MergeRef Id='GuiAgentWindows'/>
    </Feature>

    <Feature
    Id='DisableUac'
    AllowAdvertise='no'
    Absent='allow'
    Title='Disable UAC'
    Description='Disable User Account Control.'
    >
        <ComponentRef Id='DisableUac'/>
    </Feature>

</Feature>
</Product>
</Wix>
