<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis">
  <Fragment>
    <!-- Detect existing registry configuration to not overwrite it with default values -->
    <!-- We can't just use values read by RegistrySearch because it mangles non-string ones... -->
    <Property Id="LOG_DIR_SET">
      <RegistrySearch
        Root="HKLM"
        Key="Software\Invisible Things Lab\Qubes Tools"
        Name="LogDir"
        Type="raw"
      />
    </Property>

    <Property Id="LOG_LEVEL_SET">
      <RegistrySearch
        Root="HKLM"
        Key="Software\Invisible Things Lab\Qubes Tools"
        Name="LogLevel"
        Type="raw"
      />
    </Property>

    <Property Id="LOG_RETENTION_SET">
      <RegistrySearch
        Root="HKLM"
        Key="Software\Invisible Things Lab\Qubes Tools"
        Name="LogRetention"
        Type="raw"
      />
    </Property>

    <Property Id="LOG_SAFE_FLUSH_SET">
      <RegistrySearch
        Root="HKLM"
        Key="Software\Invisible Things Lab\Qubes Tools"
        Name="LogSafeFlush"
        Type="raw"
      />
    </Property>

    <Property Id="DPF_SET">
      <RegistrySearch
        Root="HKLM"
        Key="SYSTEM\CurrentControlSet\Control\Session Manager\Debug Print Filter"
        Name="IHVDRIVER"
        Type="raw"
      />
    </Property>

    <ComponentGroup Id="CoreComponents">

      <?if $(env.TEST_SIGN) ?>
        <Component
          Guid="{DCFF0361-3189-4144-B072-119D57F1F6EC}"
          Id="SigningCertCore"
          Directory="BIN_DIR">
          <iis:Certificate
            Name="VchanCert"
            BinaryRef="SigningCertVchan"
            Request="no"
            StoreLocation="localMachine"
            StoreName="root"
            Vital="yes"
            />
          <iis:Certificate
            Name="UtilsCert"
            BinaryRef="SigningCertUtils"
            Request="no"
            StoreLocation="localMachine"
            StoreName="root"
            Vital="yes"
            />
          <iis:Certificate
            Name="DbCert"
            BinaryRef="SigningCertDb"
            Request="no"
            StoreLocation="localMachine"
            StoreName="root"
            Vital="yes"
            />
          <iis:Certificate
            Name="AgentCert"
            BinaryRef="SigningCertAgent"
            Request="no"
            StoreLocation="localMachine"
            StoreName="root"
            Vital="yes"
            />
        </Component>
      <?endif?>

      <Component
        Guid="{D8203722-9A7C-4866-BA07-62AB6AE08B2E}"
        Id="SharedDlls"
        Directory="System64Folder">
        <File Source="$(env.QUBES_REPO)\core-qubesdb\bin\qubesdb-client.dll" />
        <File Source="$(env.QUBES_REPO)\core-vchan-xen\bin\libvchan.dll" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\libxenvchan.dll" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xencontrol.dll" />
        <File Source="$(env.QUBES_REPO)\windows-utils\bin\windows-utils.dll" />
      </Component>

      <!-- Directories for registry-only components are still required... -->
      <Component
        Guid="{92F3B49F-9D0E-4162-A88A-D459D07508DF}"
        Id="LogDirSetting"
        Condition="NOT LOG_DIR_SET"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
          <RegistryValue Name="LogDir" Type="string" Value="[INSTALL_DIR]log" />
        </RegistryKey>
      </Component>

      <Component
        Guid="{53C4B221-DCAD-48CC-B82F-10C7B2F0D328}"
        Id="LogLevelSetting"
        Condition="NOT LOG_LEVEL_SET"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
          <RegistryValue Name="LogLevel" Type="integer" Value="3" /> <!-- TODO allow customization -->
        </RegistryKey>
      </Component>

      <Component
        Guid="{59B691D5-C3E4-40AD-8F89-F1BDFA67D019}"
        Id="LogRetentionSetting"
        Condition="NOT LOG_RETENTION_SET"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
          <RegistryValue Name="LogRetention" Type="integer" Value="604800" /> <!-- 1 week -->
        </RegistryKey>
      </Component>

      <Component
        Guid="{4E2ED241-E3C7-48AE-8197-7384BEF2334D}"
        Id="LogSafeFlushSetting"
        Condition="NOT LOG_SAFE_FLUSH_SET"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
          <RegistryValue Name="LogSafeFlush" Type="integer" Value="0" />
        </RegistryKey>
      </Component>

      <Component
        Guid="{CD253E87-10A2-4BAA-AFA5-6AF0A87DCFAB}"
        Id="DebugPrintFilter"
        Condition="NOT DPF_SET"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\Session Manager\Debug Print Filter">
          <RegistryValue Name="IHVDRIVER" Type="integer" Value="3" />
        </RegistryKey>
      </Component>

      <Component
        Guid="{C824195C-F828-4FF5-BFCA-3143F0D89916}"
        Id="SystemSettings"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
          <RegistryValue Name="InstallDir" Type="string" Value="[INSTALL_DIR]" />
          <!-- Paths should be absolute, entries are launched as SYSTEM by qrexec-agent -->
          <RegistryValue Name="Autostart" Type="multiString">
            <MultiStringValue Value="[BIN_DIR]network-setup.exe"/>
          </RegistryValue>
        </RegistryKey>

        <!-- Enable paths longer than MAX_PATH for FS APIs by default -->
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\FileSystem">
          <RegistryValue Name="LongPathsEnabled" Type="integer" Value="1" />
        </RegistryKey>

        <!-- Disable hibernation, it leads to many issues like disk corruption with templates -->
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\Power">
          <RegistryValue Name="HibernateEnabled" Type="integer" Value="0" />
          <RegistryValue Name="HibernateEnabledDefault" Type="integer" Value="0" />
        </RegistryKey>

        <Environment
          Id="QubesToolsEnv"
          Action="set"
          Name="QUBES_TOOLS"
          Part="all"
          Permanent="no"
          System="yes"
          Value='[INSTALL_DIR]' />
      </Component>

      <Component
        Guid="{A8D779C4-66BA-4E52-9510-EFBB6D4D7734}"
        Id="QubesDB"
        Directory="BIN_DIR">
        <File Source="$(env.QUBES_REPO)\core-qubesdb\bin\qubesdb-cmd.exe" />
        <File Source="$(env.QUBES_REPO)\core-qubesdb\bin\qubesdb-daemon.exe" KeyPath="yes" />
        <ServiceInstall
          Name="QdbDaemon"
          DisplayName="!(loc.QdbServiceName)"
          Description="!(loc.QdbServiceDescription)"
          Account="LocalSystem"
          Type="ownProcess"
          Start="auto"
          ErrorControl="ignore"
          Interactive="no"
          Arguments="0">
          <ServiceDependency Id="xenagent"/>
        </ServiceInstall>
        <ServiceControl Name="QdbDaemon" Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
      </Component>

      <Component
        Guid="{EE28BD55-FA59-43FB-9250-66C1C168A4EE}"
        Id="QrexecAgent"
        Directory="BIN_DIR">

        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qrexec-agent.exe" KeyPath="yes" />

        <ServiceInstall
          Name="QrexecAgent"
          DisplayName="!(loc.QrexecServiceName)"
          Description="!(loc.QrexecServiceDescription)"
          Account="LocalSystem"
          Type="ownProcess"
          Start="auto"
          ErrorControl="ignore"
          Interactive="no">
          <ServiceDependency Id="QdbDaemon"/>
        </ServiceInstall>

        <ServiceControl Name="QrexecAgent" Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
      </Component>

      <Component
        Guid="{A062576F-BDD3-40DD-8508-1B769CF3236A}"
        Id="NetworkSetup"
        Directory="BIN_DIR">

        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\network-setup.exe" KeyPath="yes" />
      </Component>

      <Component
        Guid="{2873F585-AABD-4443-8FC6-CBDD90A6D3B0}"
        Id="QrexecSupport"
        Directory="BIN_DIR">

        <!-- This needs to be separate from QrexecAgent because here qrexec-client-vm needs to be
             the keypath (so it's the target for shortcuts). -->
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\advertise-tools.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qrexec-client-vm.exe" KeyPath="yes" >
          <!-- TODO: these shortcuts are only installed for the current user.
             It seems impossible to do for all users in the installer. -->
          <Shortcut
            Name="!(loc.SendToCopyToVm)"
            Advertise="yes"
            Directory="SendToFolder"
            Arguments="@default|qubes.Filecopy|%USERNAME%|[RPC_HANDLERS_DIR]\file-sender.exe" />
          <Shortcut
            Name="!(loc.SendToEditInVm)"
            Advertise="yes"
            Directory="SendToFolder"
            Arguments="@default|qubes.OpenInVM|%USERNAME%|[RPC_HANDLERS_DIR]\open-in-vm.exe"
            Show="minimized" />
          <Shortcut
            Name="!(loc.SendToEditInDispVm)"
            Advertise="yes"
            Directory="SendToFolder"
            Arguments="@dispvm|qubes.OpenInVM|%USERNAME%|[RPC_HANDLERS_DIR]\open-in-vm.exe"
            Show="minimized" />
        </File>
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qrexec-wrapper.exe" />

      </Component>

      <Component
        Guid="{FCD05E1D-E07E-4500-950F-2098C7D7EFD7}"
        Id="QrexecServiceDefinitions"
        Directory="RPC_DEFINITIONS_DIR">

        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.ClipboardCopy" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.ClipboardPaste" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.Filecopy" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.GetAppMenus" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.GetImageRGBA" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.OpenInVM" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.OpenURL" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.SetDateTime" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.SetGuiMode" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.StartApp" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.SuspendPostAll" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.VMExec" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.VMShell" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\qubes.WaitForSession" />
      </Component>

      <Component
        Guid="{D1987297-F924-4678-989B-8B0CAEEB1CCF}"
        Id="QrexecServiceHandlers"
        Directory="RPC_HANDLERS_DIR">
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\clipboard-copy.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\clipboard-paste.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\file-receiver.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\file-sender.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\get-image-rgba.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\log.ps1" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\open-in-vm.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\open-url.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\set-gui-mode.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\vm-file-editor.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\wait-for-logon.exe" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\get-appmenus.ps1" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\set-time.ps1" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\start-app.ps1" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\update-time.bat" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\VMExec-Decode.ps1" />
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\VMExec.ps1" />
      </Component>

      <Component
        Guid="{CBC27915-348B-48F6-B888-538EC8AA8555}"
        Id="PreparePrivateImg"
        Directory="BIN_DIR">
        <File Source="..\..\src\prepare-private-img.ps1" />
      </Component>

      <Component
        Guid="{7A5C0609-2124-4655-9075-D55CFAAC23DF}"
        Id="PrivateLogDirSetting"
        Condition="NOT LOG_DIR_SET"
        Directory="INSTALL_DIR">
        <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
          <RegistryValue Name="LogDir" Type="string" Value="Q:\Qubes Logs" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <Property Id="QUBES_USER_DIR">
      <DirectorySearch Id="QUBES_USER_DIR" AssignToProperty="yes" Depth="0" Path="q:\users" />
    </Property>

    <ComponentGroup Id="MoveUsersComponents">
      <Component
        Guid="{70781900-56B4-4EDC-89C6-F20DC454B740}"
        Id="RelocateDir"
        Directory="System64Folder"
        Condition="NOT QUBES_USER_DIR"> <!-- TODO: make this condition better, currently we skip moving users if q:\users exists -->
        <File Source="$(env.QUBES_REPO)\core-agent-windows\bin\relocate-dir.exe" />
        <RegistryValue
          Root="HKLM"
          Key="System\CurrentControlSet\Control\Session Manager"
          Name="BootExecute"
          Type="multiString"
          Action="append"
          Value="relocate-dir.exe C:\Users Q:\Users" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
