<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:difxapp="http://wixtoolset.org/schemas/v4/wxs/difxapp" xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis">
  <Fragment>
    <ComponentGroup Id="PvDriversCoreComponents">
      <!--Component
        Guid="{C138FD59-B498-4EB7-B596-D9BB376A1E6B}"
        Id="SigningCert"
        Directory="PVDRIVERS_DIR">
        <iis:Certificate
          Name="ITLCert"
          BinaryRef="SigningCert"
          Request="no"
          StoreLocation="localMachine"
          StoreName="root"
          Vital="yes"
          />
      </Component-->

      <Component
        Guid="{5C76C716-340B-491E-BF58-28F1A07B122F}"
        Id="xenbus"
        Directory="PVDRIVERS_DIR"
        Subdirectory="xenbus">
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xen.sys" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenbus.cat" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenbus.inf" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenbus.sys" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenbus_monitor.dll" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenbus_monitor.exe" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenfilt.sys" />
        <difxapp:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" Sequence="1" />
      </Component>

      <Component
        Guid="{47088CD9-52BD-4853-B331-AC008C6C3F17}"
        Id="xeniface"
        Directory="PVDRIVERS_DIR"
        Subdirectory="xeniface">
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenagent.dll" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenagent.exe" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xencontrol.dll" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xeniface.cat" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xeniface.inf" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xeniface.sys" />
        <difxapp:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" Sequence="2" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PvDriversNetworkComponents">
      <Component
        Guid="{BF98A747-E077-4C05-991F-CDAB81B64754}"
        Id="xenvif"
        Directory="PVDRIVERS_DIR"
        Subdirectory="xenvif">
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenvif.cat" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenvif.inf" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenvif.sys" />
        <difxapp:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" Sequence="4" />
      </Component>

      <Component
        Guid="{A0CF6F5F-5323-46DE-8802-DD20B5A6E058}"
        Id="xennet"
        Directory="PVDRIVERS_DIR"
        Subdirectory="xennet">
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xennet.cat" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xennet.inf" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xennet.sys" />
        <difxapp:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" Sequence="5" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PvDriversDiskComponents">
      <Component
        Guid="{F0BE0053-6D03-4A88-B49A-A17E1F3B6520}"
        Id="xenvbd"
        Directory="PVDRIVERS_DIR"
        Subdirectory="xenvbd">
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenvbd.cat" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenvbd.inf" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xenvbd.sys" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xendisk.sys" />
        <File Source="$(env.QUBES_REPO)\vmm-xen-windows-pvdrivers\bin\xencrsh.sys" />
        <difxapp:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" Sequence="3" />
      </Component>
    </ComponentGroup>
    </Fragment>
</Wix>
